/**

It's best practice to prefix `part-0x` to your CSS class, so you don't
overwrite others' styling, and your styling won't be overwritten by others.

**/

.part1_xaxis path,
.part1_xaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.part1_xaxis text {
    font-family: sans-serif;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6);
}

.part1_point {
  fill: #2ec7c9;
  fill-opacity: 0.5;
}

.part1_position a {
  font-size: 11px;
  text-decoration: none;
}
