/**

It's best practice to prefix `part-0x` to your CSS class, so you don't
overwrite others' styling, and your styling won't be overwritten by others.

**/

.part-2--line {
    stroke-width: 5px;
    fill: none;
}

[class^=part-2--][class$=-checkbox--label] {
    text-transform: capitalize;
}



/* .part-02-performance-viz{
	margin:2rem 6%;
} */


.part-2--weighed-filter{

	font-size:0.8rem;
	width:30%;
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content: space-between;
	margin-top:8rem;
	margin-bottom:2rem;
	margin-left:2rem;

}

.part-2--weighed-filter input{
	display:none;
}

.part2_chart{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-between;
}

header{
	margin-bottom:2rem;
}

.part-02-my-svg{
	width: 60%;
	margin-right:5%;
}

.part-2--checkbox-field{
	margin:0.5rem 0;
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	flex-wrap:wrap;
}

.part-2--checkbox-field label{
	display:inline;
}

.part-2--legend-rect {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.part-2--checkbox-field input[type=checkbox] {
  transform: scale(1.5);
}


.height-color--text {
    color: gray;
}

.pts-color--text {
    color: red;
}

.ast-color--text {
    color: orange;
}

.blk-color--text {
    color: blue;
}

.odrm-color--text {
    color: purple;
}