/**

It's best practice to prefix `part-0x` to your CSS class, so you don't
overwrite others' styling, and your styling won't be overwritten by others.

**/

.part-02-performance-viz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part-02-header {
    max-width: 50vw;
}

.part-02-height-line {
    stroke: black;
    stroke-width: 2.5px;
    fill: none;
}

.part-02-weighed-height-odrb-line {
    stroke: red;
    stroke-width: 2.5px;
    fill: none;
}

.part-02-weighed-height-pts-line {
    stroke: orange;
    stroke-width: 2.5px;
    fill: none;
}